<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Loan Department">  
<!-- test suite -->
  <test thread-count="5" name=" loan">
<!--   test module -->
    <classes>
<!--     testcase classes -->
      <class name="testpackage.Basic"/>
      <class name="testpackage.xmlfile">
      <methods>
      <include name="seconddemo"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  
  <test name="Personal loan">
  <classes>
  <class name="testpackage.Prioritizingexample">
  <methods>
  <exclude name="mobilel.*"></exclude>
  </methods>
  </class>
  </classes>
  </test>
</suite> <!-- Suite -->
